<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
	<!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径 -->
	<property name="LOG_HOME" value="/logs/blue-api" />
	<!-- 控制台输出 -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">

		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出,%d:日期;%thread:线程名;%-5level：级别,从左显示5个字符宽度;%msg:日志消息;%n:换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}
				-%msg%n</pattern>
		</encoder>

	</appender>
	<!-- 按照每天生成日志文件 -->
	<appender name="APP"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--日志文件输出的文件名 -->
			<FileNamePattern>${LOG_HOME}/%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<!--日志文件保留天数 -->
			<MaxHistory>7</MaxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--格式化输出,%d:日期;%thread:线程名;%-5level：级别,从左显示5个字符宽度;%msg:日志消息;%n:换行符 -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-2level %logger{50} -
				%msg%n</pattern>
		</encoder>
	</appender>

	<!--mybatis log configure 日志系统配置 -->
	<logger name="org.apache.ibatis" level="DEBUG" />
	<logger name="java.sql.Connection" level="DEBUG" />
	<logger name="java.sql.Statement" level="DEBUG" />
	<logger name="java.sql.PreparedStatement" level="DEBUG" />

	<!-- 数据库连接池配置日志 com.jolbox.bonecp -->
	<logger name="com.alibaba.druid" level="INFO" />
	<logger name="org.springframework" level="INFO">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="com.blue.dao.mapper" level="DEBUG">
		<appender-ref ref="APP" />
	</logger>
	
	<logger name="com.blue.api.controller" level="DEBUG">
		<appender-ref ref="APP" />
	</logger>
	
	<!--<logger name="com.ruqing.util" level="INFO">-->
		<!--<appender-ref ref="APP" />-->
	<!--</logger>-->
	
	<logger name="com.blue.dao.service" level="DEBUG">
		<appender-ref ref="APP" />
	</logger>

	<!--<logger name="com.google.code.yanf4j.core.impl" level="INFO">-->
		<!--<appender-ref ref="APP" />-->
	<!--</logger>-->

	<!--<logger name="net.rubyeye" level="INFO">-->
		<!--<appender-ref ref="APP" />-->
	<!--</logger>-->


	<!-- 日志输出级别 没有定义日志器，直接打印到跟目录，且为error级别的 -->
	<!--<root level="DEBUG">-->
		<!--<appender-ref ref="APP" />-->
	<!--</root>-->

	<!--<root level="INFO">-->
		<!--<appender-ref ref="c" />-->
	<!--</root>-->
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>